body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    height: auto;
}

#navbar {
    text-align: right;
    padding-right: 90px;
}

#navbar ul li {
    display: inline-block;
    margin-left: 90px;
}

#navbar ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
}

#navbar ul li a:hover {
    color: #10dede;;
}

#about {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    top: 90px;
    padding-top: 320px;
    padding-bottom: 320px;
    background-color: 
    #232424
    ;
    height: auto;
    width: 100%;
}

#about h2 {
    color: #fff;
    font-size: 28px;
}

#about h1 {
    color: #c7c722;
    font-family: 'Cinzel', serif;
    font-size: 40px;
}

#about h4 {
    color: #22c7a0;
    font-size: 20px;
}

#projects {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 950px;
    padding-top: 290px;
    padding-bottom: 290px;
    text-align: center;
    background-color: #11cf76;
}

#projects img {
    width: 270px;
    height: 270px;
}

#projects .image {
    display: inline-block;
    background-color: black;
    padding: 20px;
    margin-left: 60px;
}

#projects .image p {
    color: #fff;
    text-decoration: none;
    list-style: none;
}

#projects .image p:hover {
    color: #10dede;
    transition: 0.5s;
}


footer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1890px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
    background-color: #064242;
    height: auto;
    width: 100%;
}

footer img {
    width: 30px;
}

@media (max-width: 600px) {
    header {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        flex-direction: column;
        height: auto;
        width: 100%;;
    }

    #navbar {
        text-align: center;
    }

    #about {
        position: absolute;
        top: 140px;
        left: 0px;
        right: 0px;
    }

    #navbar ul li  {
        margin-bottom: 10px;
    }

    #projects img {
        width: 170px;
        height: 170px;
        margin-bottom: 20px;
    }

    footer {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 2290px;
    }
}

@media (max-width: 1200px) {
    footer {
        position: absolute;
        top: 2190px;
    }
}